* text=auto eol=lf

*.c    text eol=lf
*.h    text eol=lf
*.md   text eol=lf
*.yml  text eol=lf
*.yaml text eol=lf
*.sh   text eol=lf
*.txt  text eol=lf
Dockerfile text eol=lf
meson.build text eol=lf

*.png binary
*.jpg binary
*.so  binary
